<h2>Cupboard of Needs</h2>
<button (click)="logout()">Log Out</button>
<div>

    <label for="new-need-name">Need name: </label>
    <input id="new-need-name" #needName placeholder="Enter need name" />

    <label for="new-need-price">Price: </label>
    <input id="new-need-price" #needPrice placeholder="Enter price" type="number" />

    <label for="new-need-quantity">Quantity: </label>  
    <input id="new-need-quantity" #needQuantity placeholder="Enter quantity" type="number" />

    <label for="new-need-type">Type: </label>
    <input id="new-need-type" #needType placeholder="Enter type" />

    <button type="button" class="add-button" (click)="add(needName.value, +needPrice.value, +needQuantity.value, needType.value); 
    needName.value=''; needPrice.value=''; needQuantity.value=''; needType.value=''">
      Add need
    </button>
</div>

<ul class="needs">
  <li *ngFor="let need of needs">
    <button routerLink="/editNeed/{{need.id}}">
        <span class="badge">{{need.id}}</span> {{need.name}} - 
        Price: {{need.price}} - 
        Quantity: {{need.quantity}} - 
        Type: {{need.type}}
    </button>
    <button type="button" class="delete" title="delete need"
      (click)="delete(need)">x</button>
  </li>
</ul>
